@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --branco-principal: #ffffff;
    --cinza-secundário: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --font-principal: 'Inter';
}


* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%; 
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color:  var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal); 
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundário);
}

.principal__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;   
}

.secundario {
    align-items: center;
    margin: 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.5em;
}

.descricao__texto {
    font-size: 16px;
    color: var(--cinza-secundário);
}

.terceiro {
    align-items: center;
    margin: 10em;
}
.container__descricao{
    padding: 2em;
}

.descricao__texto__terceario {
    font-size: 16px;
    color: var(--cinza-secundário);
    margin-bottom: 1em;
}

.botao__terceario {
    display: inline-block;
}

.dispositivos{
    text-align: center;
}

.dispositivo__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);

}

.rodape {
    text-align: center;
    margin: 8em 1em 6em 3em;
    
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2em;
    gap: 1em;
 }

.lista__link {
    text-decoration: none;
    margin-left: 1em;
}

.lista__link__a{
    text-decoration: none;
    color: var(--branco-principal);

}

a:hover {
    color: var(--cor-de-fundo);
    margin: solid;
    background-color: var(--branco-principal);
    border-radius: 5px;
    padding: 0.2em;
}

.rodape__texto{
    color: var(--cinza-secundário);
    font-size: 14px;
    margin: 1.5em 3em;
}
/* 
@media screen and (max-width: 768px) {
    .container {
        display: block; /* display: block cada um dos elementos fica como blocos em cima do outro, não ficarão mais divididos entre a página */
        /* background-image: none; 
    }
    .container__imagem {
        width: 50vw;
    }
    .container__caixa {
        margin: 2em 2em;
    }
    .secundario {
        margin: 0;
        text-align: center;
    }
    .secundario__imagem {
        width: 50vw;
    }
    .terceiro {
        margin: 0;
        text-align: center;
    }
    .terceiro__imagem{ 
        width: 50vw;
    }
    .rodape__lista {
        display: block;
    }
} 



*/
 @media (max-width: 768px) { 
  .container {
    display: block;
    text-align: center;
    height: auto;
    padding: 2em 1em;
  }
  .container__caixa {
    margin: 0;
  }

  .secundario,
  .terceiro {
    margin: 4em 1em;
    text-align: center;
  }

  .secundario__imagem,
  .container__imagem,
  .terceiro__imagem{
    width: 70%;

  }

  .descricao__titulo {
    font-size: 32px;
  }

  .descricao__texto,
  .descricao__texto__terceario {
    font-size: 14px;
  }

  .dispositivo__lista {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .lista__item {
    font-size: 24px;
  }

  .rodape__lista {
    flex-direction: column;
    gap: 1em;
  }

  .rodape {
    margin: 4em 1em;
    text-align: center;
  }

  .rodape__texto {
    margin: 1em;
    font-size: 12px;
  }
}
